@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans antialiased;
  }
}

@layer utilities {
  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-visible {
    backface-visibility: visible;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .font-monoton {
    font-family: var(--font-monoton);
  }
}